@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-timbu);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}